<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ads</title>
</head>
<body>
     <!-- job opening -->
     <div class="modal modal-fixed-footer" id="job">
        <div class="modal-content">
          <!-- <span class="material-icons modal-close right">
            highlight_off
            </span> -->
            <p class="center blue-text flow-text"><b>Latest Job Openings:</b></p>
                <div class="card-image">
                <a href="../page/jobopenings" target="_blank"> <img src="../ads/1.jpg" class="mySlides activator responsive-img" alt=""></a></li>
                <a href="../page/jobopenings"target="_blank"><img src="../ads/2.jpg" class="mySlides activator responsive-img" alt=""></a>
                <a href="../page/jobopenings"target="_blank"> <img src="../ads/3.jpg" class="mySlides activator responsive-img" alt=""></a>
                <a href="../page/jobopenings"target="_blank"><img src="../ads/4.jpg" class="mySlides activator responsive-img" alt=""></a>
                <a href="../page/jobopenings"target="_blank"> <img src="../ads/5.jpg" class="mySlides activator responsive-img" alt=""></a>
                <a href="../page/jobopenings"target="_blank"><img src="../ads/6.jpg" class="mySlides activator responsive-img" alt=""></a>
              </div>
          </div>
          <br><br>
         <div class="modal-footer">
          <a href="#!"class="btn-flat blue darken-4 white-text modal-close">skip</a>
         </div>
      </div>
</body>
</html>