<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    
<nav id="nav" class="navbar-fixed">
        <div class="nav-wrapper container">
            <a href="/" class="brand-logo"><img src="/img/cropped-Webp.net-resizeimage-2.png" width="275" alt=""></a>
            <a href="" class="sidenav-trigger" data-target="mobile-menu"><i class="material-icons icon black-text">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li class="dropdown-trigger" data-target="dropdown-aboutUs" id="abouts">ABOUT US<i class="material-icons" id="about-icon">arrow_drop_down</i></li>
                <li><a href="../page/contactus">CONTACT US</a></li>
                <li><a href="../page/services">SERVICES</a></li>
                <li><a href="../page/faq">FAQs</a></li>
                <!-- <li><a href="#login" class="btn-flat white-text blue darken-4 modal-trigger">Login</a></li> -->
            </ul>
        </div>
      </nav>
    
          <!-- dropdown -->
    <ul class="dropdown-content white-text" id="dropdown-aboutUs">
        <li><a href="../page/aboutus">Our Company</a></li>
        <li class="divider"></li>
        <li><a href="../page/client" class="modal-trigger">Our Valued Clients</a></li>
      </ul>
    
      <!-- modal login -->
      <!-- <div id="login" class="modal">
        <div class="modal-content">
            <span class="material-icons modal-close right">
                highlight_off
                </span>
            <h5 class="center">Login</h5>
        </div>
      </div> -->

 