

<section class=" section section-testimony">
  <h5 class="center">TESTIMONIALS</h5>
  <div class="container">
      <div class="row center">
        <div class="col s12 m4" >
          <div class="card-panel center z-depth-0">
            <img src="/img/GANAR TV.png" class="circle responsive-img" width="100" alt=""><br><label for="">GANAR TV</label>
            <blockquote class="">Amazing. The agency that will that will truly help you to achieve your goals and dreams.</blockquote>
            <!-- <span><a href="#ganartv" class=" center btn-flat  darken-5 modal-trigger " id="read-more">read more </a></span> -->
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card-panel center z-depth-0">
            <img src="/img/Rodel Serraon.png" class="circle responsive-img" width="100" alt=""><br><label for="">Rodel Serraon</label>
            <blockquote class="">For someone who wants to work abroad, this agency can help you.</blockquote>
            <!-- <span><a href="#rodel" class=" center btn-flat  darken-5 modal-trigger" id="read-more">read more </a></span> -->
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card-panel center z-depth-0">
            <img src="/img/John Smith.jpg" class="circle responsive-img" width="100" alt=""><br><label for="">Edward Dolar Esparas</label>
            <blockquote class="">Good process to the applicant they are follow by order.</blockquote>
            <!-- <span><a href="#edward" class=" center btn-flat  darken-5 modal-trigger " id="read-more">read more </a></span> -->
          </div>
          </div>  
          </div>
        </div>
  </section>

  <!-- <section class="section section-testimony ">
    <h5 class="center">TESTIMONIALS</h5>
    <div class="carousel carousel-slider center">
      <div class="carousel-item white-text" href="#one!">
        <div class="row">
          <div class="col s12 m4">
            <div class="card-panel center z-depth-0">
              <img src="/img/Carlo Brandon.jpg" class="circle responsive-img" width="100" alt=""><br><label for="">Carlo Brandon</label>
              <blockquote>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus eum fugit unde blanditiis, in ipsum? Culpa beatae odio ratione consequuntur.</blockquote>
              <span><a href="#Carlo" class=" center btn-flat  darken-5 modal-trigger " id="read-more">read more </a></span>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item white-text" href="#two!">
        <h2>Second Panel</h2>
        <p class="white-text">This is your second panel</p>
      </div>
      <div class="carousel-item  white-text" href="#three!">
        <h2>Third Panel</h2>
        <p class="white-text">This is your third panel</p>
      </div>
      <div class="carousel-item  white-text" href="#four!">
        <h2>Fourth Panel</h2>
        <p class="white-text">This is your fourth panel</p>
      </div>
    </div> 
  </section> -->

  
  <div class="modal modal-fixed-footer" id="ganartv">
    <div class="modal-content">
      <div class="header center">
          <img src="/img/GANAR TV.png" class="circle responsive-img" width="100" alt=""><br><label for="">GANAR TV</label>
          <p>Amazing. The agency that will that will truly help you to achieve your goals and dreams.</p>
        </div>
        </div>
        <div class="modal-footer ">
          <a href="#!" class="modal-close btn-flat" id="read-more">close</a>
        </div>   
    </div>
    <div class="modal modal-fixed-footer" id="rodel">
      <div class="modal-content">
        <div class="header center">
            <img src="/img/Rodel Serraon.png" class="circle responsive-img" width="100" alt=""><br><label for="">Rodel Serraon</label>
            <p>For someone who wants to work abroad, this agency can help you.</p>
          </div>
          </div>
          <div class="modal-footer ">
            <a href="#!" class="modal-close btn-flat right" id="read-more">close</a>
          </div>   
      </div>
      <div class="modal modal-fixed-footer" id="edward">
        <div class="modal-content">
          <div class="header center">
            <img src="/img/John Smith.jpg" class="circle responsive-img" width="100" alt=""><br><label for="">Edward Dolar Esparas</label>
              <p>Good process to the applicant they are follow by order</p>
            </div>
            </div>
            <div class="modal-footer ">
              <a href="#!" class="modal-close btn-flat" id="read-more">close</a>
            </div>   
        </div>

        