<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="icon" href="../img/logo.png">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../css/materialize.css">
    <link rel="stylesheet" href="../css/index.css">
    <style>
    .main-header {
    background: url(../img/contactus.jpg);
    background-size: cover;
    background-position: center;
    min-height: 350px;
  }
    </style>
    <title>Contact us</title>
</head>
<body>
    <header class="main-header">
        <%- include('../common/nav') %> 
    </header>
    <%- include('../common/sidenav') %> 
 
    <%- include('../common/map') %> 

    <%- include('../common/footer') %> 

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="../js/materialize.js"></script>
<script src="../js/index.js"></script>
</body>
</html>